<!-- Banner Section -->
<%= render 'shared/banner' %>

<!-- Navbar Section -->
<%= render 'shared/navbar' %>

<div>
  <h1 class="font-bold text-4xl text-center">Coming Soon...</h1>
</div>

<script>
    // Hiding Banner
    function hideBanner() {
        var banner = document.getElementById('banner');
        banner.style.display = 'none';
    }
</script>