<!-- Banner Section -->
<%= render 'shared/banner' %>

<!-- Navbar Section -->
<%= render 'shared/navbar' %>

<!-- Privacy Section -->
<div class="bg-gray-100">
    <section class="px-4 py-2">
      <h2 class="font-bold text-gray-700 text-2xl">Privacy Policy</h2>
      <br>

      <p class="text-gray-700">
        Welcome to <a href="/index" class="text-blue-500 underline">trustfreightglobal.com</a> (the "Site"), hosted by Trustfreight Global ("Trustfreight", "we", "us", and/or "our"). Trustfreight Global provides a platform for creating and managing short links (the "Services"). We value your privacy and are committed to protecting your personal data. This Privacy Policy covers how we collect, handle, and disclose personal data on our Platform.
      </p>
      <br>
      <p class="text-gray-700">
        If you have any questions, comments, or concerns regarding this Privacy Policy, our data practices, or would like to exercise your rights, do not hesitate to contact us.
      </p>
      <br>

      <h3 class="font-bold text-gray-700 text-xl">To Whom Does This Policy Apply</h3>
      <br>
      <p class="text-gray-700">
        This Privacy Policy applies to customers and site visitors. Each customer is responsible for posting their own terms, conditions, and privacy policies, and ensuring compliance with all applicable laws and regulations.
      </p>
      <br>

      <h3 class="font-bold text-gray-700 text-xl">Changes To This Privacy Policy</h3>
      <br>

      <p class="text-gray-700">
        This Privacy Policy may change from time to time, as our Platform and our business may change. Your continued use of the Platform after any changes to this Privacy Policy indicates your acceptance of the revised terms.
      </p>
      <br>

      <h3 class="font-bold text-gray-700 text-xl">What Information Do We Collect</h3>
      <br>
      <p class="text-gray-700">
        We collect information directly from you when you provide it to us explicitly on our Site. We do not use third-party cookies on our Site.
      </p>
      <br>

      <h3 class="font-bold text-gray-700 text-xl">What We Use Your Information For</h3>
      <br>
      <p class="text-gray-700">
        We use your information to provide our Services, to improve our Platform, to understand how you use our Platform, and to communicate with you.
      </p>
      <br>

      <h3 class="font-bold text-gray-700 text-xl">How To Contact Us</h3>
      <br>
      <p class="text-gray-700">
        For privacy-related questions, please contact us at <a href="mailto:Info@tfglog.com" class="text-blue-500 underline">Info@tfglog.com</a>.
      </p>
      <br>
    </section>
</div>

<script>
    // Hiding Banner
    function hideBanner() {
        var banner = document.getElementById('banner');
        banner.style.display = 'none';
    }
</script>