<!-- Banner Section -->
<%= render 'shared/banner' %>

<!-- Navbar Section -->
<%= render 'shared/navbar' %>

<!-- FAQ Header Section -->
<section class="bg-gray-100">
  <div class="mx-auto max-w-screen-xl px-4 py-8 sm:px-6 lg:px-8">
    <div class="grid grid-cols-1 gap-4 md:grid-cols-4 md:items-center md:gap-8">
      <div class="md:col-span-4">
        <img
          src="<%= asset_path('faq.jpg') %>"
          class="rounded"
          alt=""
          />
      </div>
    </div>
  </div>
</section>

<!-- FAQ section -->
<div class="space-y-4 bg-gray-100">
  <!-- What is Ro/Ro? -->
  <details class="group [&_summary::-webkit-details-marker]:hidden">
    <summary
      class="flex cursor-pointer items-center justify-between gap-1.5 rounded-lg bg-gray-50 p-4 text-gray-900"
    >
      <h2 class="font-medium">What is Ro/Ro?</h2>

      <svg
        class="size-5 shrink-0 transition duration-300 group-open:-rotate-180"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
      </svg>
    </summary>

    <p class="mt-4 px-4 leading-relaxed text-gray-700">
      <span class="font-bold">What is Ro/Ro?</span><br><br>
      Ro/Ro is a term used to describe a type of ship that is designed to carry wheeled cargo, such as cars, trucks, trailers, and railroad cars. The term Ro/Ro stands for “roll-on/roll-off,” which refers to the way in which cargo is loaded and unloaded from the ship. Unlike traditional cargo ships, which require cranes and other heavy equipment to load and unload cargo, Ro/Ro ships have built-in ramps that allow vehicles to be driven directly onto and off of the ship. This makes the loading and unloading process much faster and more efficient, and allows for the transportation of a wide variety of wheeled cargo, including cars, trucks, buses, and heavy construction equipment.
      <br><br>

      <span class="font-bold">How does Ro/Ro work?</span><br><br>
      Ro/Ro ships are designed with large, open decks that are specifically designed to accommodate wheeled cargo. The ships are equipped with ramps that allow vehicles to be driven directly onto and off of the ship, and are also equipped with special tie-downs and other equipment to secure the cargo during transit. Once the cargo is loaded onto the ship, it is secured in place and the ship sets sail for its destination. When the ship arrives at its destination, the cargo is simply driven off the ship and onto the dock, where it can be quickly and easily unloaded and transported to its final destination.
      <br><br>

      <span class="font-bold">What are the advantages of Ro/Ro shipping?</span><br><br>
      There are several advantages to using Ro/Ro shipping for the transportation of wheeled cargo. One of the main advantages is the speed and efficiency of the loading and unloading process. Because vehicles can be driven directly onto and off of the ship, the loading and unloading process is much faster and more efficient than traditional cargo ships, which require cranes and other heavy equipment to load and unload cargo. This can help to reduce shipping times and costs, and can also help to minimize the risk of damage to the cargo during transit.
      <br><br>

      <span class="font-bold">What are the disadvantages of Ro/Ro shipping?</span><br><br>
      While Ro/Ro shipping offers many advantages, there are also some disadvantages to consider. One of the main disadvantages is the limited capacity of Ro/Ro ships. Because the ships are designed to carry wheeled cargo, they are not well-suited for the transportation of other types of cargo, such as bulk goods or containers. This can limit the types of cargo that can be transported using Ro/Ro shipping, and can also make it more difficult to fill the ships to capacity. Additionally, because the cargo is loaded onto open decks, it is more vulnerable to damage from the elements, such as wind, rain, and salt water. This can increase the risk of damage to the cargo during transit, and can also make it more difficult to secure the cargo during rough seas.
      <br><br>

      <span class="font-bold">How Trustfreight can help you with Ro/Ro shipping?</span><br><br>
      At Trustfreight, we specialize in providing Ro/Ro shipping services for a wide variety of wheeled cargo, including cars, trucks, buses, and heavy construction equipment. We work with a network of trusted carriers and shipping partners to provide reliable and cost-effective Ro/Ro shipping solutions for our customers. Whether you need to transport a single vehicle or a large fleet of vehicles, we can help you find the right Ro/Ro shipping solution to meet your needs. Contact us today to learn more about our Ro/Ro shipping services and how we can help you with your next shipment.
    </p>
  </details>

  <!-- What is Customs Brokerage? -->
  <details class="group [&_summary::-webkit-details-marker]:hidden">
    <summary
      class="flex cursor-pointer items-center justify-between gap-1.5 rounded-lg bg-gray-50 p-4 text-gray-900"
    >
      <h2 class="font-medium">What is Customs Brokerage?</h2>

      <svg
        class="size-5 shrink-0 transition duration-300 group-open:-rotate-180"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
      </svg>
    </summary>

    <section class="mt-4 px-4 py-2">
      <h2 class="font-bold text-gray-700">What is Customs Brokerage?</h2>
      <br>
      <p class="text-gray-700">
        Customs brokerage involves the clearing of goods through customs barriers for importers and exporters. This service includes the preparation and submission of necessary documents and fees to the relevant authorities, ensuring compliance with all legal requirements of the country of import.
      </p>
      <br>

      <h3 class="font-bold text-gray-700">Categories of Customs Brokerage</h3>
      <br>
      <p class="text-gray-700">Customs brokerage services can be categorized as follows:</p>
      <br>
      <ol class="list-decimal pl-10 space-y-2 text-gray-700">
        <li>Individual Brokerage Services: Tailored for single shipments, offering personalized attention and detail.</li>
        <li>Corporate Brokerage Services: Designed for businesses with frequent and bulk shipping needs, focusing on efficiency and cost-effectiveness.</li>
        <li>Automated Brokerage Services: Utilizing advanced technology for fast and accurate processing, ideal for time-sensitive deliveries.</li>
      </ol>
      <br>

      <h3 class="font-bold text-gray-700">Why Do You Need Customs Brokerage?</h3>
      <br>
      <p class="text-gray-700">
        Navigating the complex world of customs regulations can be a daunting task. Customs brokerage services are essential because:
      </p>
      <br>
      <ul class="list-disc pl-10 space-y-2 text-gray-700">
        <li>Compliance with Laws: Customs laws are complex and varied across countries. Brokers ensure adherence to all rules, avoiding costly fines and legal issues.</li>
        <li>Efficiency and Speed: Experienced brokers expedite the clearance process, reducing the chances of delays.</li>
        <li>Cost-Effective: Brokers can identify the most economical methods of shipment and potential tax exemptions.</li>
      </ul>
      <br>

      <h3 class="font-bold text-gray-700">The Challenge of Self-Managed Customs Brokerage</h3>
      <br>
      <p class="text-gray-700">
        Managing customs brokerage on your own can be quite complex due to the intricate processes and documents involved. The key challenge lies in understanding and complying with evolving customs regulations, handling various documentation, and managing the physical, fiscal, and informational flows of the importing process.
      </p>
      <br>
      <ul class="list-disc pl-10 space-y-2 text-gray-700">
        <li>Vast and Complex Regulations: Constantly changing customs regulations require expertise and continuous learning.</li>
        <li>Risk of Non-Compliance: Mistakes in the process can lead to penalties, shipment delays, or seizure of goods.</li>
        <li>Resource-Intensive: Requires dedicated staff and resources to manage efficiently.</li>
      </ul>
      <br>

      <h3 class="font-bold text-gray-700">How Trustfreight Can Assist with Customs Brokerage in Canada</h3>
      <br>
      <p class="text-gray-700">
        Trustfreight, with its extensive knowledge of Canadian customs law and regulations, stands as your reliable customs brokerage partner. Our services include:
      </p>
      <br>
      <ul class="list-disc pl-10 space-y-2 text-gray-700">
        <li>Expert Guidance: Our team, familiar with Canada’s customs laws, navigates you through the entire process.</li>
        <li>Tailored Solutions: We offer customized brokerage solutions to meet your unique needs.</li>
        <li>Seamless Integration: Our services integrate smoothly with your shipping process, ensuring a hassle-free experience.</li>
        <li>Compliance Assurance: We guarantee compliance with all Canadian customs regulations, reducing the risk of penalties.</li>
        <li>Real-Time Updates: Stay informed about the status of your shipments with our real-time tracking system.</li>
      </ul>
    </section>
  </details>

  <!-- What is CARM? -->
  <details class="group [&_summary::-webkit-details-marker]:hidden">
    <summary
      class="flex cursor-pointer items-center justify-between gap-1.5 rounded-lg bg-gray-50 p-4 text-gray-900"
    >
      <h2 class="font-medium">What is CARM?</h2>

      <svg
        class="size-5 shrink-0 transition duration-300 group-open:-rotate-180"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
      </svg>
    </summary>

    <section id ="learncarm" class="mt-4 px-4 py-2">
      <h2 class="font-bold text-gray-700">What is the CBSA Assessment and Revenue Management (CARM) system?</h2>
      <br>
      <p class="text-gray-700">
        The CBSA Assessment and Revenue Management (CARM) system is an online platform created by the Canada Border Services Agency (CBSA) to make the import process faster and easier for businesses. CARM helps businesses manage their import duties, taxes, and other customs-related processes more efficiently.
      </p>
      <br>

      <h3 class="font-bold text-gray-700">How does CARM work?</h3>
      <br>
      <p class="text-gray-700">CARM allows businesses to:</p>
      <br>
      <ul class="list-disc pl-10 space-y-2 text-gray-700">
        <li>Create and manage their importer profiles: Each business can set up an account to track their customs transactions, duties, and taxes in one place.</li>
        <li>Automate duty and tax assessments: CARM automatically calculates the duties and taxes owed for imported goods based on the information provided during the customs process.</li>
        <li>Make payments online: Importers can pay their duties and taxes directly through the system, making the payment process faster and more convenient.</li>
        <li>Submit customs declarations and documents electronically: Instead of dealing with paperwork, businesses can submit customs forms and documents online.</li>
      </ul>
      <br>

      <h3 class="font-bold text-gray-700">What are the benefits of using CARM?</h3>
      <br>
      <ul class="list-disc pl-10 space-y-2 text-gray-700">
        <li>Faster processing: The system automates many tasks, reducing delays and speeding up customs processes.</li>
        <li>Better tracking: Businesses can easily track their account balances, payments, and any outstanding duties or taxes.</li>
        <li>Improved compliance: CARM helps businesses stay compliant with Canadian customs regulations by providing tools for managing and checking their imports.</li>
        <li>Less paperwork: The system reduces the need for physical documents, streamlining the import process.</li>
      </ul>
      <br>

      <h3 class="font-bold text-gray-700">When will CARM be fully implemented?</h3>
      <br>
      <p class="text-gray-700">
        CARM has been rolled out in phases:
      </p>
      <br>
      <ol class="list-decimal pl-10 space-y-2 text-gray-700">
        <li>Phase 1: Businesses can now create profiles, manage their accounts, and make payments online.</li>
        <li>Phase 2: The system will include automated risk assessments and the ability to submit customs declarations electronically.</li>
        <li>Phase 3: The final phase will fully replace older systems, and all customs-related activities will be managed through CARM.</li>
      </ol>
      <br>

      <h3 class="font-bold text-gray-700">How can I get started with CARM?</h3>
      <br>
      <p class="text-gray-700">
        To get started, businesses need to create an importer profile on the CARM portal. Once registered, you can manage your account, track transactions, and make payments.<br><br>
        For more details, please contact one of our representatives today.
      </p>
      <br>
      <!-- CARM Portal link -->
      <a class="relative text-gray-700 transition-colors duration-300 transform hover:text-gray-600" href="https://ccp-pcc.cbsa-asfc.cloud-nuage.canada.ca/en/homepage" target="_blank">
        <button type="button" class="text-white bg-blue-700 hover:bg-blue-900 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 text-center">Login CARM Client Portal</button>
      </a>
      <br>

      <!-- CARM Official link -->
      <a class="relative my-4 text-gray-700 transition-colors duration-300 transform hover:text-gray-600" href="https://www.cbsa-asfc.gc.ca/services/carm-gcra/start-passer-eng.html" target="_blank">
        <button type="button" class="text-white my-4 bg-yellow-500 hover:bg-yellow-600 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 text-center">Learn More - CARM Official Site</button>
    </a>


    </section>
  </details>

  <section class="bg-gray-100 lg:py-12 lg:flex lg:justify-center">
    <div
      class="overflow-hidden bg-white lg:mx-8 lg:flex lg:max-w-6xl lg:w-full lg:shadow-md lg:rounded-xl">
      <div class="lg:w-1/2">
        <div class="h-64 bg-cover lg:h-full" style="background-image:url('<%= asset_path('contactform2.jpg') %>')"></div>
      </div>

      <div class="max-w-xl px-6 py-12 lg:max-w-5xl lg:w-1/2">
        <h2 class="text-2xl font-semibold text-gray-800 md:text-3xl">
          We are here to <span class="text-blue-500">help</span>
        </h2>

        <p class="mt-4 text-gray-500">
          Start shipping your parcels without any hassle. Our team of experts are available to help you with any issues you might be facing.
        </p>

        <div class="inline-flex w-full mt-6 sm:w-auto">
          <a href="/contact" class="inline-flex items-center justify-center w-full px-6 py-2 text-sm text-white duration-300 bg-gray-800 rounded-lg hover:bg-gray-700 focus:ring focus:ring-gray-300 focus:ring-opacity-80">
            Contact Us
          </a>
        </div>
      </div>
    </div>
  </section>
</div>

<script>
    // Hiding Banner
    function hideBanner() {
        var banner = document.getElementById('banner');
        banner.style.display = 'none';
    }
</script>