<!-- Banner Section -->
<%= render 'shared/banner' %>

<!-- Navbar Section -->
<%= render 'shared/navbar' %>

<!-- About Section -->
<section class="bg-gray-100 text-gray-800">
  <div class="mx-auto max-w-screen-xl px-4 py-8 sm:px-6 sm:py-12 lg:px-8 lg:py-16">
    <div class="mx-auto">
      <h2 class="text-3xl font-bold sm:text-4xl">About Trustfreight Global</h2>

      <p class="mt-4 text-gray-700">
        Trustfreight Global is a leading logistics provider in Canada, offering personalized service and innovative business solutions.
        We blend technology with a human touch to simplify global freight management, making trade more efficient, cost-effective, and reliable.
      </p>
    </div>

    <div class="mt-8 grid grid-cols-1 gap-8 md:mt-16 md:grid-cols-2 md:gap-12 lg:grid-cols-2">
      <div class="flex items-start gap-4">
        <span class="shrink-0 rounded-lg bg-gray-300 p-4">
          <svg
            class="size-5"
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path d="M12 14l9-5-9-5-9 5 9 5z"></path>
            <path
              d="M12 14l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14z"
            ></path>
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M12 14l9-5-9-5-9 5 9 5zm0 0l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14zm-4 6v-7.5l4-2.222"
            ></path>
          </svg>
        </span>

        <div>
          <h2 class="text-lg font-bold">Our Story</h2>

          <p class="mt-1 text-sm text-gray-700">
            Since our inception in Canada, Trustfreight Global has prioritized building trust through personalized service.
            We offer tailored logistics solutions and become an extension of your team, ensuring seamless global trade operations for businesses of all sizes.
          </p>
        </div>
      </div>

      <div class="flex items-start gap-4">
        <span class="shrink-0 rounded-lg bg-gray-300 p-4">
          <svg
            class="size-5"
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path d="M12 14l9-5-9-5-9 5 9 5z"></path>
            <path
              d="M12 14l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14z"
            ></path>
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M12 14l9-5-9-5-9 5 9 5zm0 0l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14zm-4 6v-7.5l4-2.222"
            ></path>
          </svg>
        </span>

        <div>
          <h2 class="text-lg font-bold">What We Do</h2>

          <p class="mt-1 text-sm text-gray-700">
            Trustfreight Global provides comprehensive logistics services with an emphasis on personalized solutions that are designed to help businesses thrive.
            Whether you're a global corporation or a local business, we are here to offer you tailored, hands-on support in all aspects of your supply chain.
          </p>
        </div>
      </div>

      <div class="flex items-start gap-4">
        <span class="shrink-0 rounded-lg bg-gray-300 p-4">
          <svg
            class="size-5"
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path d="M12 14l9-5-9-5-9 5 9 5z"></path>
            <path
              d="M12 14l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14z"
            ></path>
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M12 14l9-5-9-5-9 5 9 5zm0 0l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14zm-4 6v-7.5l4-2.222"
            ></path>
          </svg>
        </span>

        <div>
          <h2 class="text-lg font-bold">Our Values</h2>

          <ol class="mt-1 text-sm text-gray-700">
            <li><a class="font-bold">Integrity</a> – Transparent and honest service.</li>
            <li><a class="font-bold">Personalized Service</a> – Tailored logistics for your unique needs.</li>
            <li><a class="font-bold">Innovation</a> – Adopting new technologies to improve service.</li>
            <li><a class="font-bold">Customer Focus</a> – Solutions that prioritize your business.</li>
            <li><a class="font-bold">Sustainability</a> – Committed to eco-friendly practices.</li>
          </ol>
        </div>
      </div>

      <div class="flex items-start gap-4">
        <span class="shrink-0 rounded-lg bg-gray-300 p-4">
          <svg
            class="size-5"
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path d="M12 14l9-5-9-5-9 5 9 5z"></path>
            <path
              d="M12 14l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14z"
            ></path>
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M12 14l9-5-9-5-9 5 9 5zm0 0l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14zm-4 6v-7.5l4-2.222"
            ></path>
          </svg>
        </span>

        <div>
          <h2 class="text-lg font-bold">Our Global Reach</h2>

          <p class="mt-1 text-sm text-gray-700">
            With partners worldwide, Trustfreight Global offers services across North America, Europe, and Asia.
            We combine global reach with local expertise for optimal results, no matter where your business operates.
          </p>
        </div>
      </div>

      <div class="flex items-start gap-4">
        <span class="shrink-0 rounded-lg bg-gray-300 p-4">
          <svg
            class="size-5"
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path d="M12 14l9-5-9-5-9 5 9 5z"></path>
            <path
              d="M12 14l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14z"
            ></path>
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M12 14l9-5-9-5-9 5 9 5zm0 0l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14zm-4 6v-7.5l4-2.222"
            ></path>
          </svg>
        </span>

        <div>
          <h2 class="text-lg font-bold">Why Choose Us</h2>

          <ol class="mt-1 text-sm text-gray-700">
            <li><a class="font-bold">Expertise:</a> Decades of industry experience.</li>
            <li><a class="font-bold">Tailored Solutions:</a> Customized services that meet your needs.</li>
            <li><a class="font-bold">Customer-Centric:</a> We focus on building lasting relationships.</li>
            <li><a class="font-bold">Global & Local:</a> A global network with local support.</li>
            <li><a class="font-bold">Innovation:</a> Cutting-edge technology for enhanced service.</li>
          </ol>
        </div>
      </div>

      <div class="flex items-start gap-4">
        <span class="shrink-0 rounded-lg bg-gray-300 p-4">
          <svg
            class="size-5"
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path d="M12 14l9-5-9-5-9 5 9 5z"></path>
            <path
              d="M12 14l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14z"
            ></path>
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M12 14l9-5-9-5-9 5 9 5zm0 0l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14zm-4 6v-7.5l4-2.222"
            ></path>
          </svg>
        </span>

        <div>
          <h2 class="text-lg font-bold">Looking Ahead</h2>

          <p class="mt-1 text-sm text-gray-700">
            We continue to innovate and expand globally, ensuring that personalized logistics remains at the heart of our service.
            Trustfreight Global is committed to helping businesses succeed today and in the future.
          </p>
        </div>
      </div>
    </div>

    <div class="mx-auto text-center">
      <button class="w-50 px-6 py-3 mt-6 text-sm font-medium tracking-wide text-white capitalize transition-colors duration-300 transform bg-blue-500 rounded-md hover:bg-blue-400 focus:outline-none focus:ring focus:ring-blue-300 focus:ring-opacity-50">
        <%= link_to 'Learn More About Our Service', service_path %>
      </button>
    </div>
  </div>
</section>

<script>
    <!-- Making banner invisible-->
    function hideBanner() {
        var banner = document.getElementById('banner');
        banner.style.display = 'none';
    }
</script>