<!-- Banner Section -->
<%= render 'shared/banner' %>

<!-- Navbar Section -->
<%= render 'shared/navbar' %>

<!-- About Section -->
<section class="bg-gray-100 text-gray-800">
  <div class="mx-auto max-w-screen-xl px-4 py-8 sm:px-6 sm:py-12 lg:px-8 lg:py-16">
    <div class="mx-auto">
      <h2 class="text-3xl font-bold sm:text-4xl">About Trustfreight Global</h2>

      <p class="mt-4 text-gray-700">
        Trustfreight Global is a leading logistics provider in Canada, offering personalized service and innovative business solutions.
        We blend technology with a human touch to simplify global freight management, making trade more efficient, cost-effective, and reliable.
      </p>
    </div>

    <div class="mt-8 grid grid-cols-1 gap-8 md:mt-16 md:grid-cols-2 md:gap-12 lg:grid-cols-2">
      <div class="flex items-start gap-4">
        <span class="shrink-0 rounded-lg bg-gray-300 p-4">
          <svg class="size-7"
               stroke="currentColor"
               viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
            <g id="SVGRepo_iconCarrier">
              <path d="M12 6.90909C10.8999 5.50893 9.20406 4.10877 5.00119 4.00602C4.72513 3.99928 4.5 4.22351 4.5 4.49965C4.5 6.54813 4.5 14.3034 4.5 16.597C4.5 16.8731 4.72515 17.09 5.00114 17.099C9.20405 17.2364 10.8999 19.0998 12 20.5M12 6.90909C13.1001 5.50893 14.7959 4.10877 18.9988 4.00602C19.2749 3.99928 19.5 4.21847 19.5 4.49461C19.5 6.78447 19.5 14.3064 19.5 16.5963C19.5 16.8724 19.2749 17.09 18.9989 17.099C14.796 17.2364 13.1001 19.0998 12 20.5M12 6.90909L12 20.5" stroke="#000000" stroke-linejoin="round"></path>
              <path d="M19.2353 6H21.5C21.7761 6 22 6.22386 22 6.5V19.539C22 19.9436 21.5233 20.2124 21.1535 20.0481C20.3584 19.6948 19.0315 19.2632 17.2941 19.2632C14.3529 19.2632 12 21 12 21C12 21 9.64706 19.2632 6.70588 19.2632C4.96845 19.2632 3.64156 19.6948 2.84647 20.0481C2.47668 20.2124 2 19.9436 2 19.539V6.5C2 6.22386 2.22386 6 2.5 6H4.76471" stroke="#000000" stroke-linejoin="round"></path>
            </g>
          </svg>
        </span>


        <div>
          <h2 class="text-lg font-bold">Our Story</h2>

          <p class="mt-1 text-sm text-gray-700">
            Since our inception in Canada, Trustfreight Global has prioritized building trust through personalized service.
            We offer tailored logistics solutions and become an extension of your team, ensuring seamless global trade operations for businesses of all sizes.
          </p>
        </div>
      </div>

      <div class="flex items-start gap-4">
        <span class="shrink-0 rounded-lg bg-gray-300 p-4">
          <svg class="size-7" stroke="currentColor" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M9 7H5C3.89543 7 3 7.89543 3 9V18C3 19.1046 3.89543 20 5 20H19C20.1046 20 21 19.1046 21 18V9C21 7.89543 20.1046 7 19 7H15M9 7V5C9 3.89543 9.89543 3 11 3H13C14.1046 3 15 3.89543 15 5V7M9 7H15" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
        </span>

        <div>
          <h2 class="text-lg font-bold">What We Do</h2>

          <p class="mt-1 text-sm text-gray-700">
            Trustfreight Global provides comprehensive logistics services with an emphasis on personalized solutions that are designed to help businesses thrive.
            Whether you're a global corporation or a local business, we are here to offer you tailored, hands-on support in all aspects of your supply chain.
          </p>
        </div>
      </div>

      <div class="flex items-start gap-4">
        <span class="shrink-0 rounded-lg bg-gray-300 p-4">
          <svg class="size-7" stroke="currentColor" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512" xml:space="preserve" fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <style type="text/css">  .st0{fill:#000000;}  </style> <g> <path class="st0" d="M269.063,328.703c-38.75,0-70.172,31.422-70.172,70.172s31.422,70.172,70.172,70.172 c38.766,0,70.172-31.422,70.172-70.172S307.828,328.703,269.063,328.703z M291.984,418.406c-1.281,2.391-3.047,4.391-5.281,6.031 c-2.219,1.641-4.891,2.859-8.016,3.656c-1.359,0.359-2.766,0.594-4.219,0.781v9.063h-10.813v-8.875 c-3.063-0.25-6.016-0.734-8.781-1.5c-4.234-1.156-9.781-5.828-9.781-5.828c-0.469-0.281-0.781-0.766-0.859-1.313 c-0.063-0.531,0.125-1.078,0.516-1.484l5.422-5.406c0.578-0.578,1.484-0.688,2.188-0.25c0,0,4.063,3.516,7.125,4.359 c3.063,0.828,6.109,1.234,9.156,1.234c3.828,0,7-0.672,9.516-2.016c2.516-1.375,3.766-3.484,3.766-6.359 c0-2.063-0.609-3.719-1.859-4.906c-1.234-1.188-3.328-1.938-6.281-2.281l-9.703-0.828c-5.734-0.563-10.172-2.156-13.281-4.797 s-4.672-6.625-4.672-11.969c0-2.953,0.594-5.578,1.813-7.906c1.188-2.297,2.828-4.266,4.891-5.859 c2.078-1.594,4.5-2.781,7.25-3.578c1.156-0.344,2.359-0.547,3.578-0.766v-7.797h10.813v7.641c2.516,0.25,4.922,0.656,7.156,1.266 c3.781,1.047,7.766,4.156,7.766,4.156c0.5,0.25,0.844,0.75,0.938,1.297c0.078,0.563-0.109,1.125-0.5,1.516l-5.078,5.172 c-0.547,0.531-1.375,0.672-2.063,0.313c0,0-3.016-2.125-5.609-2.813s-5.328-1.016-8.203-1.016c-3.75,0-6.531,0.719-8.313,2.156 c-1.797,1.438-2.688,3.328-2.688,5.625c0,2.063,0.625,3.672,1.906,4.781c1.281,1.125,3.422,1.859,6.469,2.156l8.484,0.734 c6.313,0.547,11.094,2.219,14.297,5.016c3.25,2.797,4.875,6.859,4.875,12.203C293.906,413.234,293.266,416,291.984,418.406z"></path> <path class="st0" d="M228.531,270.313c0,13.391-25.516,24.25-56.984,24.25c-31.484,0-56.984-10.859-56.984-24.25 c0-13.406,25.5-24.266,56.984-24.266C203.016,246.047,228.531,256.906,228.531,270.313z"></path> <path class="st0" d="M114.563,311.375c0,13.406,25.5,24.266,56.984,24.266c31.469,0,56.984-10.859,56.984-24.266v-6.031 c0-1.844-0.922-3.578-2.484-4.609c-1.547-1.016-3.5-1.188-5.203-0.453c0,0-17.828,11-49.297,11c-31.484,0-49.297-11-49.297-11 c-1.719-0.734-3.672-0.563-5.219,0.453c-1.547,1.031-2.469,2.766-2.469,4.609V311.375z"></path> <path class="st0" d="M189.953,352.406c-4.641,7.828-8.094,16.359-10.203,25.422c-2.703,0.172-5.422,0.25-8.219,0.25 c-31.453,0-56.969-10.875-56.969-24.281v-6c0-1.859,0.906-3.594,2.469-4.625c1.531-1.016,3.5-1.188,5.203-0.469 c0,0,17.844,11.016,49.297,11.016C178.328,353.719,184.469,353.219,189.953,352.406z"></path> <path class="st0" d="M179.813,420.25c-2.688,0.172-5.484,0.25-8.281,0.25c-31.453,0-56.969-10.875-56.969-24.25v-6.031 c0-1.859,0.906-3.594,2.469-4.625c1.531-1.016,3.5-1.188,5.203-0.469c0,0,17.844,11.016,49.297,11.016c2,0,3.922-0.031,5.813-0.109 c-0.063,0.953-0.063,1.891-0.063,2.844C177.281,406.219,178.141,413.375,179.813,420.25z"></path> <path class="st0" d="M200.281,459.578c-8.422,2.156-18.25,3.344-28.75,3.344c-31.453,0-56.969-10.875-56.969-24.25v-6.031 c0-1.859,0.906-3.594,2.469-4.625c1.531-1,3.5-1.188,5.203-0.453c0,0,17.844,11,49.297,11c5.156,0,10-0.281,14.391-0.797 C189.672,445.734,194.5,453.078,200.281,459.578z"></path> <path class="st0" d="M384.266,178.031c0,13.406-25.516,24.266-56.984,24.266c-31.484,0-56.984-10.859-56.984-24.266 c0-13.391,25.5-24.266,56.984-24.266C358.75,153.766,384.266,164.641,384.266,178.031z"></path> <path class="st0" d="M270.297,271.141c0,13.406,25.5,24.25,56.984,24.25c31.469,0,56.984-10.844,56.984-24.25v-6.031 c0-1.859-0.922-3.578-2.484-4.609c-1.547-1.016-3.5-1.203-5.203-0.469c0,0-17.828,11.016-49.297,11.016 c-31.484,0-49.297-11.016-49.297-11.016c-1.719-0.734-3.672-0.547-5.219,0.469c-1.547,1.031-2.469,2.75-2.469,4.609V271.141z"></path> <path class="st0" d="M270.297,225.156c0,13.406,25.5,24.266,56.984,24.266c31.469,0,56.984-10.859,56.984-24.266v-6.016 c0-1.859-0.922-3.594-2.484-4.609c-1.547-1.031-3.5-1.203-5.203-0.469c0,0-17.828,11.016-49.297,11.016 c-31.484,0-49.297-11.016-49.297-11.016c-1.719-0.734-3.672-0.563-5.219,0.469c-1.547,1.016-2.469,2.75-2.469,4.609V225.156z"></path> <path class="st0" d="M381.781,398.438c-1.547-1.016-3.5-1.203-5.203-0.469c0,0-6.203,3.797-17.656,6.938 c-0.594,9-2.5,17.625-5.563,25.719c18.344-4.031,30.906-12.156,30.906-21.547v-6.031 C384.266,401.188,383.344,399.469,381.781,398.438z"></path> <path class="st0" d="M381.781,352.453c-1.547-1.016-3.5-1.188-5.203-0.453c0,0-9.172,5.625-25.875,8.828 c3.328,7.125,5.75,14.734,7.125,22.719c15.875-4.297,26.438-11.844,26.438-20.453v-6.016 C384.266,355.219,383.344,353.484,381.781,352.453z"></path> <path class="st0" d="M381.781,306.484c-1.547-1.016-3.5-1.203-5.203-0.469c0,0-17.828,11.016-49.297,11.016 c-11.672,0-21.453-1.516-29.141-3.422c15.688,5.359,29.453,14.891,39.922,27.328c26.297-2.156,46.203-11.984,46.203-23.813v-6.031 C384.266,309.234,383.344,307.516,381.781,306.484z"></path> <rect x="246.281" y="42.953" class="st0" width="19.438" height="44.453"></rect> <polygon class="st0" points="158.641,110.875 141.797,120.609 119.578,82.109 136.422,72.391 "></polygon> <polygon class="st0" points="77.656,184.75 67.922,201.594 29.438,179.375 39.156,162.531 "></polygon> <polygon class="st0" points="482.563,418.531 472.844,435.375 434.359,413.156 444.078,396.313 "></polygon> <rect y="289.234" class="st0" width="44.438" height="19.438"></rect> <polygon class="st0" points="512,289.234 511.984,308.672 467.547,308.672 467.547,289.234 "></polygon> <polygon class="st0" points="67.922,396.313 77.641,413.156 39.156,435.375 29.438,418.531 "></polygon> <polygon class="st0" points="472.844,162.531 482.547,179.375 444.063,201.594 434.344,184.75 "></polygon> <rect x="363.166" y="74.273" transform="matrix(-0.866 -0.5001 0.5001 -0.866 647.5262 366.5353)" class="st0" width="19.433" height="44.438"></rect> </g> </g></svg>
        </span>

        <div>
          <h2 class="text-lg font-bold">Our Values</h2>

          <ol class="mt-1 text-sm text-gray-700">
            <li><a class="font-bold">Integrity</a> – Transparent and honest service.</li>
            <li><a class="font-bold">Personalized Service</a> – Tailored logistics for your unique needs.</li>
            <li><a class="font-bold">Innovation</a> – Adopting new technologies to improve service.</li>
            <li><a class="font-bold">Customer Focus</a> – Solutions that prioritize your business.</li>
            <li><a class="font-bold">Sustainability</a> – Committed to eco-friendly practices.</li>
          </ol>
        </div>
      </div>

      <div class="flex items-start gap-4">
        <span class="shrink-0 rounded-lg bg-gray-300 p-4">
          <svg class="size-7" stroke="currentColor" fill="#000000" height="200px" width="200px" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512" xml:space="preserve"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g> <g> <g> <path d="M392.04,171.636c-3.223-5.574-10.356-7.482-15.895-4.259l-39.005,22.516c-16.908-20.713-41.553-34.828-69.504-37.935 v-35.596c0-6.435-5.201-11.636-11.636-11.636c-6.435,0-11.636,5.201-11.636,11.636v35.596 c-23.575,2.595-45.405,12.975-62.417,29.987c-2.537,2.537-4.911,5.178-7.145,7.913l-38.947-22.481 c-5.574-3.212-12.684-1.315-15.895,4.259c-3.212,5.574-1.303,12.684,4.259,15.895l38.016,21.946 c-7.098,14.289-10.95,30.092-10.95,46.511c0,6.435,5.213,11.636,11.636,11.636h46.825c1.059,23.017,5.248,45.312,12.439,62.348 c-15.593-7.133-28.881-19.014-37.469-34.525c-1.396-2.525-3.665-4.433-6.4-5.364l-4.189-1.443 c-3.165-1.117-6.691-0.756-9.6,0.919l-40.308,23.273c-5.574,3.212-7.482,10.333-4.259,15.895 c3.212,5.574,10.333,7.471,15.895,4.259l32.919-19.014c17.164,25.798,44.916,42.589,75.59,46.022v35.642 c0,6.435,5.201,11.636,11.636,11.636c6.435,0,11.636-5.201,11.636-11.636v-35.596c31.476-3.503,58.775-20.98,75.532-46.092 l32.977,19.049c1.827,1.059,3.828,1.559,5.807,1.559c4.026,0,7.936-2.083,10.089-5.818c3.212-5.574,1.303-12.684-4.259-15.895 l-34.001-19.631c4.422-11.59,6.947-24.099,6.947-37.213c0-16.71-4.026-32.454-11.02-46.487l38.074-21.981 C393.355,184.32,395.263,177.21,392.04,171.636z M255.999,337.455c-6.237,0-20.783-24.413-22.97-69.83h45.94 C276.782,313.041,262.236,337.455,255.999,337.455z M233.017,244.352c0.57-11.439,1.955-22.481,4.119-32.442 c1.361-6.284-2.641-12.474-8.913-13.836c-6.26-1.373-12.474,2.641-13.836,8.913c-2.49,11.52-4.049,24.262-4.643,37.376h-34.362 c5.655-39.424,39.645-69.818,80.617-69.818c6.237,0,20.783,24.401,22.97,69.807H233.017z M289.791,330.019 c7.203-17.036,11.404-39.354,12.463-62.394h11.927v-23.273h-11.927c-1.059-23.028-5.26-45.335-12.463-62.371 c28.067,12.87,47.662,41.169,47.662,74.019C337.454,288.849,317.858,317.149,289.791,330.019z"></path> <path d="M131.897,116.364c1.932,0,3.887-0.477,5.69-1.501l95.569-53.76c6.144,5.353,14.068,8.716,22.842,8.716 c19.247,0,34.909-15.663,34.909-34.909C290.908,15.663,275.246,0,255.999,0S221.09,15.663,221.09,34.909 c0,2.036,0.268,4.015,0.605,5.958l-95.511,53.725c-5.597,3.154-7.587,10.24-4.433,15.837 C123.88,114.223,127.825,116.364,131.897,116.364z M255.999,23.273c6.423,0,11.636,5.213,11.636,11.636 c0,6.423-5.213,11.636-11.636,11.636s-11.636-5.213-11.636-11.636C244.363,28.486,249.576,23.273,255.999,23.273z"></path> <path d="M313.727,77.068l94.359,55.889c-1.571,7.994-0.512,16.535,3.875,24.122c4.655,8.076,12.183,13.859,21.19,16.268 c3.014,0.803,6.063,1.21,9.088,1.21c6.051,0,12.02-1.583,17.396-4.678c16.675-9.635,22.412-31.023,12.788-47.697 c-9.635-16.663-31.011-22.423-47.686-12.788c-0.012,0-0.012,0-0.023,0c-1.757,1.024-3.328,2.234-4.841,3.491l-94.289-55.843 c-5.551-3.281-12.684-1.443-15.942,4.084C306.373,66.665,308.2,73.798,313.727,77.068z M436.363,129.559 c5.574-3.212,12.707-1.28,15.895,4.259c3.212,5.562,1.292,12.695-4.259,15.895c-2.7,1.548-5.841,1.967-8.832,1.164 c-3.002-0.791-5.504-2.723-7.052-5.422C428.892,139.892,430.801,132.771,436.363,129.559z"></path> <path d="M198.283,434.932l-94.359-55.901c1.571-7.994,0.512-16.535-3.863-24.122c-9.635-16.663-30.999-22.388-47.709-12.788 c-16.663,9.635-22.388,31.034-12.765,47.686c4.655,8.076,12.183,13.859,21.19,16.268c3.014,0.803,6.063,1.21,9.088,1.21 c6.063,0,12.02-1.583,17.396-4.678c1.769-1.024,3.34-2.234,4.852-3.503l94.289,55.855c1.862,1.105,3.91,1.629,5.923,1.629 c3.98,0,7.854-2.036,10.019-5.702C205.637,445.335,203.81,438.202,198.283,434.932z M75.636,382.441 c-2.7,1.559-5.853,1.955-8.832,1.164c-3.002-0.791-5.504-2.723-7.052-5.423c-3.212-5.562-1.292-12.695,4.236-15.895 c1.827-1.059,3.828-1.559,5.807-1.559c4.026,0,7.959,2.095,10.1,5.818C83.118,372.108,81.198,379.241,75.636,382.441z"></path> <path d="M374.422,397.138l-95.581,53.772c-6.144-5.364-14.068-8.727-22.842-8.727c-19.247,0-34.909,15.663-34.909,34.909 c0,19.247,15.663,34.909,34.909,34.909s34.909-15.663,34.909-34.909c0-2.036-0.268-4.003-0.605-5.946l95.523-53.737 c5.597-3.154,7.587-10.24,4.433-15.837C387.129,395.962,380.031,393.949,374.422,397.138z M255.999,488.727 c-6.423,0-11.636-5.213-11.636-11.636c0-6.423,5.213-11.636,11.636-11.636s11.636,5.213,11.636,11.636 C267.636,483.514,262.422,488.727,255.999,488.727z"></path> <path d="M58.181,172.404v130.141c0,6.435,5.201,11.636,11.636,11.636c6.435,0,11.636-5.201,11.636-11.636V172.404 c13.51-4.817,23.273-17.617,23.273-32.768c0-19.247-15.663-34.909-34.909-34.909c-19.247,0-34.909,15.663-34.909,34.909 C34.908,154.787,44.671,167.587,58.181,172.404z M69.817,128c6.423,0,11.636,5.213,11.636,11.636s-5.213,11.636-11.636,11.636 s-11.636-5.213-11.636-11.636S63.394,128,69.817,128z"></path> <path d="M453.817,339.596V209.455c0-6.435-5.201-11.636-11.636-11.636s-11.636,5.201-11.636,11.636v130.141 c-13.51,4.817-23.273,17.617-23.273,32.768c0,19.247,15.663,34.909,34.909,34.909s34.909-15.663,34.909-34.909 C477.09,357.213,467.327,344.413,453.817,339.596z M442.181,384c-6.423,0-11.636-5.213-11.636-11.636s5.213-11.636,11.636-11.636 c6.423,0,11.636,5.213,11.636,11.636S448.604,384,442.181,384z"></path> </g> </g> </g> </g></svg>
        </span>

        <div>
          <h2 class="text-lg font-bold">Our Global Reach</h2>

          <p class="mt-1 text-sm text-gray-700">
            With partners worldwide, Trustfreight Global offers services across The Americas, Europe, and Asia.
            We combine global reach with local expertise for optimal results, no matter where your business operates.
          </p>
        </div>
      </div>

      <div class="flex items-start gap-4">
        <span class="shrink-0 rounded-lg bg-gray-300 p-4">
          <svg class="size-7" stroke="currentColor" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" fill="none"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path fill="#000000" d="M77.248 415.04a64 64 0 0 1 90.496 0l226.304 226.304L846.528 188.8a64 64 0 1 1 90.56 90.496l-543.04 543.04-316.8-316.8a64 64 0 0 1 0-90.496z"></path></g></svg>
        </span>

        <div>
          <h2 class="text-lg font-bold">Why Choose Us</h2>

          <ol class="mt-1 text-sm text-gray-700">
            <li><a class="font-bold">Expertise:</a> Decades of industry experience.</li>
            <li><a class="font-bold">Tailored Solutions:</a> Customized services that meet your needs.</li>
            <li><a class="font-bold">Customer-Centric:</a> We focus on building lasting relationships.</li>
            <li><a class="font-bold">Global & Local:</a> A global network with local support.</li>
            <li><a class="font-bold">Innovation:</a> Cutting-edge technology for enhanced service.</li>
          </ol>
        </div>
      </div>

      <div class="flex items-start gap-4">
        <span class="shrink-0 rounded-lg bg-gray-300 p-4">
          <svg class="size-7" stroke="currentColor" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M10 14.5347C11.2335 13.8218 12.7663 13.8218 13.9999 14.5347M2 15L2.70149 7.98511C2.72808 7.71915 2.74138 7.58617 2.76178 7.47208C3.00222 6.12702 4.1212 5.11436 5.48352 5.00894C5.59907 5 5.73271 5 6 5M22 15L21.2985 7.98511C21.2719 7.71916 21.2586 7.58617 21.2382 7.47208C20.9978 6.12702 19.8788 5.11436 18.5165 5.00894C18.4009 5 18.2673 5 18 5M8.82843 12.1716C10.3905 13.7337 10.3905 16.2663 8.82843 17.8284C7.26634 19.3905 4.73367 19.3905 3.17157 17.8284C1.60948 16.2663 1.60948 13.7337 3.17157 12.1716C4.73366 10.6095 7.26633 10.6095 8.82843 12.1716ZM20.8284 12.1716C22.3905 13.7337 22.3905 16.2663 20.8284 17.8284C19.2663 19.3905 16.7337 19.3905 15.1716 17.8284C13.6095 16.2663 13.6095 13.7337 15.1716 12.1716C16.7337 10.6095 19.2663 10.6095 20.8284 12.1716Z" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
        </span>

        <div>
          <h2 class="text-lg font-bold">Looking Ahead</h2>

          <p class="mt-1 text-sm text-gray-700">
            We continue to innovate and expand globally, ensuring that personalized logistics remains at the heart of our service.
            Trustfreight Global is committed to helping businesses succeed today and in the future.
          </p>
        </div>
      </div>
    </div>

    <div class="mx-auto text-center">
      <button class="w-50 px-6 py-3 mt-6 text-sm font-medium tracking-wide text-white capitalize transition-colors duration-300 transform bg-blue-500 rounded-md hover:bg-blue-400 focus:outline-none focus:ring focus:ring-blue-300 focus:ring-opacity-50">
        <%= link_to 'Learn More About Our Services', service_path %>
      </button>
    </div>
  </div>
</section>

<script>
    // Hiding Banner
    function hideBanner() {
        var banner = document.getElementById('banner');
        banner.style.display = 'none';
    }
</script>