<!-- Banner Section -->
<%= render 'shared/banner' %>

<!-- Navbar Section -->
<%= render 'shared/navbar' %>

<!-- Quote Form -->
<form>
  <div class="mx-auto max-w-screen-xl px-4 py-8 sm:px-6 sm:py-12 lg:px-8 lg:py-16 space-y-12">
    <div class="border-b border-gray-900/10 pb-12">
      <h1 class="text-center font-semibold text-gray-900 text-2xl">Package / Cargo Information</h1>
      <!-- <h2 class="text-base/7 font-semibold text-gray-900">Profile</h2>-->
      <!-- <p class="mt-1 text-sm/6 text-gray-600">This information will be displayed publicly so be careful what you share.</p>-->

      <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
        <div class="sm:col-span-3">
          <!-- todo: form changed format when mode of transportation changes -->
          <label for="modeOfTrans" class="block text-sm/6 font-medium text-gray-900">Mode of Transportation</label>
          <div class="mt-2">
            <select id="modeOfTrans" name="modeOfTrans" autocomplete="modeOfTrans-name" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm/6">
              <option>Air</option>
              <option>Sea</option>
            </select>
          </div>
        </div>
      </div>

      <div class="dynamicFormDiv mt-8">
        <div id="formRows">
          <div class="form-row mt-2 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-8">
            <!-- Product Name -->
            <div class="flex flex-col pr-2">
              <label for="productName1" class="mb-2 text-sm/6 font-medium text-gray-900">Product Name</label>
              <input type="text" id="productName1" name="productName[]" class="form-input px-4 py-2 border border-gray-300 rounded-md" placeholder="" required>
            </div>

            <!-- Product Quantity -->
            <div class="flex flex-col pr-2">
              <label for="productQuantity1" class="mb-2 text-sm/6 font-medium text-gray-900">Product Quantity</label>
              <input type="number" id="productQuantity1" name="productQuantity[]" class="form-input px-4 py-2 border border-gray-300 rounded-md" placeholder="" required>
            </div>

            <!-- Type of Goods -->
            <div class="flex flex-col pr-2">
              <label for="typeOfGoods1" class="mb-2 text-sm/6 font-medium text-gray-900">Type of Goods</label>
              <input type="text" id="typeOfGoods1" name="typeOfGoods[]" class="form-input px-4 py-2 border border-gray-300 rounded-md" placeholder="" required>
            </div>

            <!-- Length -->
            <div class="flex flex-col pr-2">
              <label for="length1" class="mb-2 text-sm/6 font-medium text-gray-900">Length (in.)</label>
              <input type="number" id="length1" name="length[]" class="form-input px-4 py-2 border border-gray-300 rounded-md" placeholder="" required>
            </div>

            <!-- Width -->
            <div class="flex flex-col pr-2">
              <label for="width1" class="mb-2 text-sm/6 font-medium text-gray-900">Width (in.)</label>
              <input type="number" id="width1" name="width[]" class="form-input px-4 py-2 border border-gray-300 rounded-md" placeholder="" required>
            </div>

            <!-- Height -->
            <div class="flex flex-col pr-2">
              <label for="height1" class="mb-2 text-sm/6 font-medium text-gray-900">Height (in.)</label>
              <input type="number" id="height1" name="height[]" class="form-input px-4 py-2 border border-gray-300 rounded-md" placeholder="" required>
            </div>

            <!-- Weight -->
            <div class="flex flex-col">
              <label for="weight1" class="mb-2 text-sm/6 font-medium text-gray-900">Weight (lbs.)</label>
              <input type="number" id="weight1" name="weight[]" class="form-input px-4 py-2 border border-gray-300 rounded-md" placeholder="" required>
            </div>

            <!-- Remove Button -->
            <button type="button" class="text-red-500 hover:text-red-700 ml-2" onclick="removeRow(this)">Remove</button>
          </div>
        </div>

        <!-- Add Row Button -->
        <div class="mt-4">
          <button type="button" id="addRowBtn" class="addRowButton px-4 py-2 bg-blue-500 text-white rounded-md hover:bg-blue-700">Add Row</button>
        </div>
      </div>
    </div>

    <div class="border-b border-gray-900/10 pb-12">
      <h1 class="text-center font-semibold text-gray-900 text-2xl">Shipping Information</h1>
      <!-- <h2 class="text-base/7 font-semibold text-gray-900">Profile</h2>-->
      <!-- <p class="mt-1 text-sm/6 text-gray-600">This information will be displayed publicly so be careful what you share.</p>-->

      <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
        <div class="sm:col-span-3">
          <h2 class="block text-lg font-medium text-gray-900">Ship From</h2>
        </div>

        <div class="sm:col-span-3">
          <h2 class="block text-lg font-medium text-gray-900">To</h2>
        </div>

        <div class="sm:col-span-3">
          <label for="from-address" class="block text-sm/6 font-medium text-gray-900">Address</label>
          <div class="mt-2">
            <input type="text" name="from-address" id="from-address" autocomplete="address" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm/6">
          </div>
        </div>

        <div class="sm:col-span-3">
          <label for="to-address" class="block text-sm/6 font-medium text-gray-900">Address</label>
          <div class="mt-2">
            <input type="text" name="to-address" id="to-address" autocomplete="address" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm/6">
          </div>
        </div>

        <div class="sm:col-span-3">
          <label for="from-city" class="block text-sm/6 font-medium text-gray-900">City</label>
          <div class="mt-2">
            <input type="text" name="from-city" id="from-city" autocomplete="city" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm/6">
          </div>
        </div>

        <div class="sm:col-span-3">
          <label for="to-city" class="block text-sm/6 font-medium text-gray-900">City</label>
          <div class="mt-2">
            <input type="text" name="to-city" id="to-city" autocomplete="city" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm/6">
          </div>
        </div>

        <div class="sm:col-span-3">
          <label for="from-state-province" class="block text-sm/6 font-medium text-gray-900">State/Province</label>
          <div class="mt-2">
            <input type="text" name="from-state-province" id="from-state-province" autocomplete="state-province" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm/6">
          </div>
        </div>

        <div class="sm:col-span-3">
          <label for="to-state-province" class="block text-sm/6 font-medium text-gray-900">State/Province</label>
          <div class="mt-2">
            <input type="text" name="to-state-province" id="to-state-province" autocomplete="state-province" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm/6">
          </div>
        </div>

        <div class="sm:col-span-3">
          <label for="from-country" class="block text-sm/6 font-medium text-gray-900">Country</label>
          <div class="mt-2">
            <input type="text" name="from-country" id="from-country" autocomplete="country" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm/6">
          </div>
        </div>

        <div class="sm:col-span-3">
          <label for="to-country" class="block text-sm/6 font-medium text-gray-900">Country</label>
          <div class="mt-2">
            <input type="text" name="to-country" id="to-country" autocomplete="country" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm/6">
          </div>
        </div>

        <div class="sm:col-span-3">
          <label for="from-zip-postal" class="block text-sm/6 font-medium text-gray-900">Zip/Postal Code</label>
          <div class="mt-2">
            <input type="text" name="from-zip-postal" id="from-zip-postal" autocomplete="zip-postal" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm/6">
          </div>
        </div>

        <div class="sm:col-span-3">
          <label for="to-zip-postal" class="block text-sm/6 font-medium text-gray-900">Zip/Postal Code</label>
          <div class="mt-2">
            <input type="text" name="to-zip-postal" id="to-zip-postal" autocomplete="zip-postal" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm/6">
          </div>
        </div>

        <div class="sm:col-span-3">
          <label for="from-cargo-available" class="block text-sm/6 font-medium text-gray-900">Cargo available by</label>
          <div class="mt-2">
            <input type="date" name="from-cargo-available" id="from-cargo-available" autocomplete="date" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm/6">
          </div>
        </div>

        <div class="sm:col-span-3">
          <label for="to-cargo-required" class="block text-sm/6 font-medium text-gray-900">Cargo required at destination by</label>
          <div class="mt-2">
            <input type="date" name="to-cargo-required" id="to-cargo-required" autocomplete="date" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm/6">
          </div>
        </div>
      </div>
    </div>

    <div class="border-b border-gray-900/10 pb-12">
      <h1 class="text-center font-semibold text-gray-900 text-2xl">Contact Information</h1>

      <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
        <div class="sm:col-span-2 sm:col-start-1">
          <label for="sender-title" class="block text-sm/6 font-medium text-gray-900">Title</label>
          <div class="mt-2">
            <input type="text" name="sender-title" id="sender-title" autocomplete="title" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm/6">
          </div>
        </div>

        <div class="sm:col-span-2">
          <label for="sender-firstname" class="block text-sm/6 font-medium text-gray-900">First name</label>
          <div class="mt-2">
            <input type="text" name="sender-firstname" id="sender-firstname" autocomplete="sender-firstname" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm/6">
          </div>
        </div>

        <div class="sm:col-span-2">
          <label for="sender-lastname" class="block text-sm/6 font-medium text-gray-900">Last name</label>
          <div class="mt-2">
            <input type="text" name="sender-lastname" id="sender-lastname" autocomplete="sender-lastname" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm/6">
          </div>
        </div>

        <div class="sm:col-span-3">
          <label for="sender-company" class="block text-sm/6 font-medium text-gray-900">Company</label>
          <div class="mt-2">
            <input type="text" name="sender-company" id="sender-company" autocomplete="sender-company" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm/6">
          </div>
        </div>

        <div class="sm:col-span-3">
          <div class="mt-2 hidden">
          </div>
        </div>

        <div class="sm:col-span-3">
          <label for="sender-address" class="block text-sm/6 font-medium text-gray-900">Address</label>
          <div class="mt-2">
            <input type="text" name="sender-address" id="sender-address" autocomplete="address" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm/6">
          </div>
        </div>

        <div class="sm:col-span-3">
          <label for="sender-city" class="block text-sm/6 font-medium text-gray-900">City</label>
          <div class="mt-2">
            <input type="text" name="sender-city" id="sender-city" autocomplete="city" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm/6">
          </div>
        </div>

        <div class="sm:col-span-3">
          <label for="sender-state-province" class="block text-sm/6 font-medium text-gray-900">State/Province</label>
          <div class="mt-2">
            <input type="text" name="sender-state-province" id="sender-state-province" autocomplete="state-province" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm/6">
          </div>
        </div>

        <div class="sm:col-span-3">
          <label for="sender-country" class="block text-sm/6 font-medium text-gray-900">Country</label>
          <div class="mt-2">
            <input type="text" name="sender-country" id="sender-country" autocomplete="country" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm/6">
          </div>
        </div>

        <div class="sm:col-span-3">
          <label for="sender-zip-postal" class="block text-sm/6 font-medium text-gray-900">Zip/Postal Code</label>
          <div class="mt-2">
            <input type="text" name="sender-zip-postal" id="sender-zip-postal" autocomplete="zip-postal" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm/6">
          </div>
        </div>

        <div class="sm:col-span-3">
          <label for="sender-phone" class="block text-sm/6 font-medium text-gray-900">Phone</label>
          <div class="mt-2">
            <input type="text" name="sender-phone" id="sender-phone" autocomplete="sender-phone" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm/6">
          </div>
        </div>

        <div class="sm:col-span-3">
          <label for="sender-email" class="block text-sm/6 font-medium text-gray-900">Email</label>
          <div class="mt-2">
            <input type="email" name="sender-email" id="sender-email" autocomplete="sender-email" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm/6">
          </div>
        </div>
      </div>
    </div>

    <div class="border-b border-gray-900/10 pb-12">
      <h1 class="text-center font-semibold text-gray-900 text-2xl">Others</h1>

      <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
        <div class="sm:col-span-3 sm:col-start-1">
          <label for="amount-requested" class="block text-sm/6 font-medium text-gray-900">Insurance amount requested</label>
          <div class="mt-2">
            <input type="number" name="amount-requested" id="amount-requested" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm/6">
          </div>
        </div>

        <div class="sm:col-span-3">
          <label for="marketing-use" class="block text-sm/6 font-medium text-gray-900">Where did you hear about us?</label>
          <div class="mt-2">
            <input type="text" name="marketing-use" id="marketing-use" autocomplete="marketing-list" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm/6">
          </div>
        </div>
      </div>

      <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
        <div class="sm:col-span-3 sm:col-start-1">
          <fieldset>
            <legend class="text-sm/6 font-semibold text-gray-900">Do you require customs clearance?</legend>
            <div class="mt-6 space-y-6">
              <div class="flex items-center gap-x-3">
                <input id="customs-clearance-yes" name="customs-clearance" type="radio" class="size-4 border-gray-300 text-indigo-600 focus:ring-indigo-600">
                <label for="customs-clearance-yes" class="block text-sm/6 font-medium text-gray-900">Yes</label>
              </div>
              <div class="flex items-center gap-x-3">
                <input id="customs-clearance-no" name="customs-clearance" type="radio" class="size-4 border-gray-300 text-indigo-600 focus:ring-indigo-600">
                <label for="customs-clearance-no" class="block text-sm/6 font-medium text-gray-900">No</label>
              </div>
            </div>
          </fieldset>
        </div>

        <div class="sm:col-span-3">
          <fieldset>
            <legend class="text-sm/6 font-semibold text-gray-900">Are you an existing customer?</legend>
            <div class="mt-6 space-y-6">
              <div class="flex items-center gap-x-3">
                <input id="existing-customer-yes" name="existing-customer" type="radio" class="size-4 border-gray-300 text-indigo-600 focus:ring-indigo-600">
                <label for="existing-customer-yes" class="block text-sm/6 font-medium text-gray-900">Yes</label>
              </div>
              <div class="flex items-center gap-x-3">
                <input id="existing-customer-no" name="existing-customer" type="radio" class="size-4 border-gray-300 text-indigo-600 focus:ring-indigo-600">
                <label for="existing-customer-no" class="block text-sm/6 font-medium text-gray-900">No</label>
              </div>
            </div>
          </fieldset>
        </div>
      </div>
    </div>
  </div>

  <div class="mt-6 flex items-center justify-center gap-x-6">
    <!-- <button type="button" class="text-sm/6 font-semibold text-gray-900">Reset</button>-->
    <button type="submit" class="rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Submit</button>
  </div>
</form>

<script>
    // Making banner invisible
    function hideBanner() {
        var banner = document.getElementById('banner');
        banner.style.display = 'none';
    }

    // Function to remove a row on quote page
    function removeRow(button) {
        const row = button.closest('.form-row');
        row.remove();
    }
</script>
